{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}
{% extends "OCCoreBundle::layoutCoreBundle.html.twig" %}

{% block title %}OC CoreBundle{% endblock %}
{% block body %}
    <h1>Contact</h1>

<p class="alert alert-primary" role="alert">
    <b>Message Flash :</b>
    La page de contact n’est pas encore disponible, merci de revenir plus tard.</p>

{% endblock %}